# Django Backend API Base URL (Local or Production Render URL)
VITE_API_BASE_URL=http://localhost:8000

# Public Portfolio Frontend URL (Local or Production Vercel URL)
VITE_PUBLIC_PORTFOLIO_URL=http://localhost:5173
